﻿@model Nop.Plugin.Widgets.EditorBoxPlugin.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="WidgetsEditorBoxPlugin" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugin.Widgets.EditorBoxPlugin.UseSandbox")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-9">
                        <nop-editor asp-for="Message" />
                        <span asp-validation-for="Message"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>