﻿<div>

    <div class="k-card" style="float:left;margin-bottom: 40px">  
         <a href="" title="Discount Image">
                <img src="../Themes/MyFirstTheme/Content/images/ring.jpg" alt="images" width="450" height="350"/>
         </a>
    </div>
    <div class="k-card" style="float:right;margin-bottom: 40px">
         <a href="" title="Discount Image">
                <img src="../Themes/MyFirstTheme/Content/images/ring02.jpg" alt="images" width="450" height="350" />
         </a>
    </div>

</div>
