﻿<div>
    <div class="k-card" style="float:left;margin-bottom: 40px">
        <h1>Let’s stay in touch</h1>
        <p>Buy products properly</p>

    </div>
    <div class="k-card" style="float:right;margin-bottom: 40px">
        @await Component.InvokeAsync("NewsletterBox")
    </div>
</div>