﻿<div>
    <div class="k-card" style="float:left;margin-bottom: 20px">
        <div class="Offerpicture">
            <a href="" title="Shoppicture Image">
                <img src="~/Themes/MyFirstTheme/Content/images/image04.jpg" alt="images" width="450" height="350" />
            </a>
        </div>
    </div>
    <div class="k-card" style="float:right;margin-bottom: 20px">
        <div class="Offerpicture">
            <a href="" title="Shoppicture Image">
                <img src="~/Themes/MyFirstTheme/Content/images/image06.jpg" alt="images" width="450" height="350" />
            </a>
        </div>
    </div>
</div>
