﻿@model Nop.Plugin.Widgets.AddCustomField.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}


<form asp-controller="WidgetsAddCustomField" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Input_Name_OverrideForStore" asp-input="Input_Name" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Input_Name" />
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="Input_Name" />
                        <span asp-validation-for="Input_Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>