﻿@model Nop.Plugin.Widgets.CustomSlider.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsCustomSlider" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Widgets.CustomSlider.Pictures")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-input="PictureId" name="fpicture" id="fpicture" />
                        <nop-label asp-for="PictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PictureId" />
                        <span asp-validation-for="PictureId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-input="Text" name="ftext" id="ftext" />
                        <nop-label asp-for="Text" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Text" />
                        <span asp-validation-for="Text"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-input="AltText" name="faltText" id="faltText" />
                        <nop-label asp-for="AltText" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AltText" />
                        <span asp-validation-for="AltText"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-input="Link" name="flink" id="flink" />
                        <nop-label asp-for="Link" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Link" />
                        <span asp-validation-for="Link"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@for(int i=0; i< Model.PictureUrls.Count(); i++){
<img src=@Model.PictureUrls[i] width="100" height="100">
 }





@*<table border="4" id="show">
    <thead>
        <tr>
            <th>Image</th>
            <th>Text</th>
            <th>AltTest</th>
            <th>Link</th>
        </tr>
    </thead>

</table>
<script>
    var list1 = [];
    var list2 = [];
    var list3 = [];
    var list4 = [];

    var n = 1;
    var x = 0;
    function Show() {
        var see = document.getElementById('show');
        var newsee = see.insertRow(n);

        list1[x] = document.getElementById("fpicture").value;
        list1[x] = document.getElementById("ftext").value;
        list1[x] = document.getElementById("faltText").value;
        list1[x] = document.getElementById("flink").value;

        var cel1 = newsee.insertCell(0);
        var cel2 = newsee.insertCell(1);
        var cel3 = newsee.insertCell(2);
        var cel4 = newsee.insertCell(3);

        cel1.innerHTML = list1[x];
        cel2.innerHTML = list12[x];
        cel3.innerHTML = list3[x];
        cel4.innerHTML = list4[x];

        n++;
        x++;
    }*@

@*</script>*@